In [6]:
import numpy as np
import pandas as pd
import warnings
from sklearn.model_selection import train_test_split
warnings.filterwarnings('ignore')

In [7]:
data = pd.read_csv('hypothyroid.csv')
data.head()

,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,sick,tumor,lithium,...,T4U_measured,FTI_measured,age,sex,TSH,T3,TT4,T4U,FTI,classes
0,0,0,0,0,0,0,0,0,0,0,...,1,1,80,1,1.4,0.8,105.0,0.88,120.0,1
1,0,0,0,0,0,0,0,0,0,0,...,1,1,74,0,0.0,0.7,98.0,0.81,121.0,1
2,0,0,0,0,0,0,0,0,0,0,...,1,1,32,0,1.4,1.1,121.0,1.11,109.0,1
3,0,0,0,0,0,0,0,0,0,0,...,1,1,42,0,2.3,1.1,93.0,0.73,127.0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,1,89,1,0.8,0.8,111.0,0.68,165.0,1

In [8]:
features = data.iloc[:, 0:-1]
target = data.iloc[:, -1]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.25, random_state=42)

In [10]:
from sklearn.svm import SVC
clf = SVC(gamma='auto')

In [11]:
clf.fit(X_train,y_train)

SVC(gamma='auto')

In [13]:
y_pred = clf.predict(X_test)

In [25]:
clf.score(X_test,y_test)

0.8946700507614214

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[702,   1],
       [ 82,   3]])

In [19]:
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier(n_estimators=10000)

In [20]:
RFC.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10000)

In [21]:
y_pred = RFC.predict(X_test)

In [22]:
confusion_matrix(y_test, y_pred)

array([[692,  11],
       [ 16,  69]])

In [24]:
RFC.score(X_test,y_test)

0.9657360406091371